@font-face {
   font-family: "Microsoft JhengHei UI";
   src: url("fonts/Microsoft JhengHei UI.woff") format("woff"), url("fonts/Microsoft JhengHei UI.eot") format("embedded-opentype"), url("fonts/Microsoft JhengHei UI.ttf") format("truetype"), url("fonts/Microsoft JhengHei UI.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Microsoft JhengHei UI";
   src: url("fonts/Microsoft JhengHei UI Bold.woff") format("woff"), url("fonts/Microsoft JhengHei UI Bold.eot") format("embedded-opentype"), url("fonts/Microsoft JhengHei UI Bold.ttf") format("truetype"), url("fonts/Microsoft JhengHei UI Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Microsoft YaHei UI";
   src: url("fonts/Microsoft YaHei UI.woff") format("woff"), url("fonts/Microsoft YaHei UI.eot") format("embedded-opentype"), url("fonts/Microsoft YaHei UI.ttf") format("truetype"), url("fonts/Microsoft YaHei UI.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Microsoft YaHei UI";
   src: url("fonts/Microsoft YaHei UI Bold.woff") format("woff"), url("fonts/Microsoft YaHei UI Bold.eot") format("embedded-opentype"), url("fonts/Microsoft YaHei UI Bold.ttf") format("truetype"), url("fonts/Microsoft YaHei UI Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}